/*=======================================*/

:root {
    /* CSS HEX */
    --bg-color: #fff;
    --txt-color: #000 --rich-black-fogra-39: #0c090dff;
    --ua-red: #e01a4fff;
    --fire-opal: #f15946ff;
    --orange-yellow: #f9c22eff;
    --maximum-blue: #53b3cbff;
    --azure-x-11-web-color: #dbe8ebff;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    font-family: 'Open Sans';
}

[data-theme="dark"] {
    --bg-color: #000;
    --txt-color: #fff;
    --rich-black-fogra-39: #0c090dff;
    --ua-red: #e01a4fff;
    --fire-opal: #f15946ff;
    --orange-yellow: #f9c22eff;
    --maximum-blue: #53b3cbff;
    --azure-x-11-web-color: #dbe8ebff;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #010111;
    --bg-secondary: #010111;
    --transition-speed: 600ms;
    font-family: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

body {
    background-color: var(--bg-color);
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 4rem;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 2rem;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    background-color: var(--bg-color) !important;
    color: var(--txt-color) !important;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 5;
}

.navbar i {
    font-size: 2rem;
    color: var(--ua-red);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: var(--txt-color) !important;
}

.nav-link i {
    width: 1rem;
    min-width: 1rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    width: 50px;
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
}

.movie-card {
    min-width: 250px;
    border-radius: 20px;
    max-height: 390px;
    margin: 0 10px;
}

.movie-poster {
    position: relative;
    bottom: 0;
    top: 0;
    margin-top: auto;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    transition: 200ms;
}

.movie-poster img {
    width: 100%;
    border-radius: 20px;
}

.movie-poster:hover {
    filter: opacity(0);
}

.movie-info {
    max-height: 150px;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    transform: translateY(-160%);
}

.movie-info ul {
    list-style: none;
}

/*Ativar e desativar o Dark Mode*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo {
    margin: 0px 100px 0px;
}

/**
   * Switch Styles
   */

/* Variables */

/* Switch Container */

.switch {
    position: relative;
    display: inline-block;
}

/* Hide the checkbox input (only needed for `:checked` property) */

.switch-input {
    display: none;
}

/* Switch */

.switch-label {
    display: block;
    width: 100px;
    height: 50px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Switch Rail & Knob */
    /* Switch Rail */
    /* Switch Knob */
}

.switch-label:before, .switch-label:after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-label:before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    transition: background-color 0.25s ease;
}

.switch-label:after {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    transition: left 0.25s ease;
}

/* When input is checked */

.switch-input:checked+.switch-label {
    /* Switch Rail */
    /* Switch Knob */
}

.switch-input:checked+.switch-label:before {
    background-color: var(--ua-red);
}

.switch-input:checked+.switch-label:after {
    left: 50px;
}

/* Telas pequenas */

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    .container {
        margin-top: 0px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 500px;
    }
    .movie-card {
        margin: 0 10px;
        max-height: 500px;
    }
    .movie-poster {
        top: 0;
        width: 100%;
        overflow: hidden;
        transition: 200ms;
    }
    .movie-info {
        transform: translateY(0) !important;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .demo {
        margin: 10px;
    }
    .switch-label {
        width: 50px;
        height: 25px;
    }
    .switch-label:after {
        width: 25px;
        height: 25px;
    }
    .switch-input:checked+.switch-label:after {
        left: 25px;
    }
}

/* Telas grandes */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo i {
        margin-left: 11rem;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
}