
.container-pesquisa{
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-pesquisa{
    background-color: var(--ua-red);
    color: white;
    width: 9rem; 
    height: 3rem;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px var(--ua-red);
    border:none;
    font-size: 1.7rem;
    font-family: 'Roboto';
    font-weight: bolder;
    transition: 600ms;
    border: 1px solid var(--bg-secondary);
}
.botao-pesquisa:hover{
    background-color: white;
    color: var(--ua-red)!important;
}

.pesquisa{
    font-size:2rem ;
    padding: 10px;
    height:3rem;
    border-radius: 10px;
    box-shadow: 0 0 100px #bbb;
    color: var(--bg-primary);
    border: 1px solid var(--bg-secondary);
    box-shadow: 5px 5px 0px var(--ua-red);
}


.main-pesquisa{

}
.resultado-pesquisa{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}
.movie-card-pesquisa{
    width: 200px;
    border-radius: 20px;
    margin: 0 10px;
}
.movie-poster-pesquisa{
    position: relative;
    bottom: 0;
    top: 0;
    margin-top: auto;
    z-index:1;
    width: 100%;
    overflow: hidden;
    transition: 200ms;
   
}
.movie-poster-pesquisa img{
    width: 100%;
    border-radius: 20px;
}
.movie-poster-pesquisa:hover{
    filter: opacity(0);
}
.movie-info-pesquisa{
    max-height: 150px;
    z-index:0;
    width: 100%;
    overflow:hidden;
    padding: 20px;
    transform: translateY(-160%);
    
}
.movie-info-pesquisa ul{
    list-style: none;
}
.nada-encontrado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto 0;
    text-align: center;
    color:#999
}
.nada-encontrado i{
    font-size: 15rem;
    text-align: center;
}





/* Telas pequenas */
@media only screen and (max-width: 600px) {
    .resultado-pesquisa{
        margin-top: 0px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .movie-card-pesquisa{
        margin: 0 10px;
        max-height: 500px;
        width: 40%;
        border-radius: 10px;
    }
    .movie-poster-pesquisa{
        top: 0;
        width: 100%;
        overflow: hidden;
        transition: 200ms;
        border-radius: 10px;
    }
    .movie-poster-pesquisa img{
        border-radius: 10px;
    }
    .movie-info-pesquisa{
        transform: translateY(0) !important;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pesquisa{
        width:80%;
        margin-bottom: 20px;
    }
}



