
.container-pesquisa{
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-container{
    padding-left: 100px;
}

.pesquisa{
    font-size:2rem ;
    padding: 10px;
    height:3rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 50px #bbb;
    color: var(--bg-primary);
}


/* Telas pequenas */
@media only screen and (max-width: 600px) {
    
}



